<h2>Dining at Our Resort</h2>
<div class="room-home-display" class="d-flex justify-content-center" class="grid-container" >
  <mat-card class="bars" class="grid-child-bars">
      <mat-card-header class="d-flex justify-content-center">
          <h2>Bars</h2>
      </mat-card-header>
      <mat-card-actions class="d-flex justify-content-center">
          <button mat-raised-button color="primary">
            <a >
              Explore</a>
          </button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="beach-houses" class="grid-child-resturant">
      <mat-card-header class="d-flex justify-content-center">
          <h2>Resturant</h2>
      </mat-card-header>
      <mat-card-actions class="d-flex justify-content-center">
          <button mat-raised-button color="primary">
              Explore
          </button>
      </mat-card-actions>
  </mat-card>
</div>

