<br><h1 class="d-flex justify-content-center">Our Curated Offers
</h1>
<div class="grid-container">
    <div class="row">
      <div class="col">
          <img src="/assets/images/all-in-getaway.png" >
          <h2>All-In Getaway</h2>
          <h4>Get all the pampering you deserve with our all inclusive package. Includes all daily meals, Wi-Fi & more. All you need to do is sit back and unwind.

        </h4>
        <h6>
            <ul>
                <li>Daily Breakfast, Lunch & Dinner at coffee-shop.</li>
                <li>20% savings on food & soft beverages, spa, salon, and laundry.</li>
                <li> 50% off on second room for kids under 18</li>
              </ul>  
           </h6>
           <button class="button">Know More</button>
    </div>
      <div class="col">
          <img src="/assets/images/senior-citizen-package.jpg">
          <h2>Senior Citizen Offer</h2>
          <h4>A rejuvenating getaway with the promise of WeAssure and award-winning, signature cuisines, with exclusive offers for Senior Citizens at our participating Welcomhotel properties</h4>
          <h6>
              <ul>
                  <li>Daily breakfast</li>
                  <li>25% Savings on Flexible Room Rate</li>
                  <li>50% Savings on Food & Select Beverages at Coffee Shop</li>
              </ul>
          </h6>
          <button class="button">Know More</button>
      </div>
      
      <div class="col">
          <img src="/assets/images/doctors-package.png">
          <h2>Doctor's Offer</h2>
          <h4>An exclusive offer, for our heroes in healthcare.</h4>
          <h6>
              <ul>
                  <li>Daily breakfast</li>
                  <li>A valid copy of Medical Council of India Registration Certificate required at the time of check-in.</li>
                  <li>25% Saving on Flexible Room rate</li>
              </ul>
          </h6>
          <button class="button">Know More</button>
      </div></div>
      <div class="row">
      
      <div class="col">
        <img src="/assets/images/workation.png">
        <h2>Workation
        </h2>
        <h4>Experience a productive yet rejuvenating work day. Avail exclusive rates and benefits on stays of 5 days or more</h4>
        <h6>
            <ul>
                <li>Signature breakfast at coffee-shop</li>
                <li>Choice of lunch or dinner at coffee-shop</li>
                <li>Complimentary access to a workspace</li>
            </ul>
        </h6>
        <button class="button">Know More</button>
      </div>
      <div class="col">
        <img src="/assets/images/arrosim-retreat.png">
        <h2>Arossim Retreat</h2>
        <h4>Cherish moments of togetherness in the breath-taking settings of Goa Resort & Spa. Experience an exceptional luxury Goan getaway.</h4>
        <h6>
            <ul>
                <li>Daily Breakfast, Lunch & Dinner at Pavilion at the Village Square</li>
                <li>20% savings on spa services at Kaya Kalp - The Royal Spa</li>
                <li>Airport transfers
                </li>
            </ul>
        </h6> <button class="button">Know More</button>
      </div>
      <div class="col">
        <img src="/assets/images/culinary-package.png">
        <h2>Short Break
        </h2>
        <h4>Discover exciting destinations & experience a leisurely getaway that includes signature breakfast, one major meal & more</h4>
        <h6>
            <ul>
                <li>Signature breakfast at coffee-shop</li>
                <li>Choice of lunch or dinner at coffee-shop</li>
                <li>20% savings on food & soft beverages, spa, salon, and laundry</li>
            </ul>
        </h6> <button class="button">Know More</button>
      </div>
    </div>
  </div>