@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url("D:\assesment\projectcopy\hotel\src\assets\images\signIn.webp");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 80%;
align-content:left;
}

.card{
height: 40rem;
margin-top: auto;
margin-bottom: auto;
width: 30%;
background-color: rgba(0,0,0,0.5) !important;
}



.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color:#ffe5b4fd;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color:rgba(183, 173, 206, 0.103);
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.d-flex{
    width: 30;
    height: 60px;
    text-align: center;
}

.y-flex{
    width: 30;
    height: 60px;
    text-align: center;
}